.App {
  text-align: center;
}

.Header {
  border-bottom: 5px solid blue;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-radius: 10px; */
}

.ButtonsBox {
  display: flex;
  flex-direction: column;
  margin: 1em 2em;
}

.ButtonsBox * {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Highlighted {
  border: 1px solid red;
}
